body {
  margin: 0;
}

.help-page {
  padding: 15px;
}

.help-page p {
  font-size: 22px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  width: 100vw;
  height: 60px;
  background-color: rgb(158, 158, 158);
}

.navbar-item {
  font-size: 25px;
  margin-left: 15px;
  font-weight: bold;
  color: rgb(65, 65, 65);
  text-decoration: none;
}

.navbar-btn {
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  background-color: rgb(201, 201, 201);
  border: none;
  border-radius: 5px;
}
.navbar-btn:nth-child(2) {
  margin-right: 50px;
}

.content {
  margin: 0 auto;
  margin-top: 60px;
  flex: 1;
  width: 1200px;
  background-color: rgb(240, 240, 240);
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-item-container {
  width: 98%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 150px;
  background-color: rgb(197, 197, 197);
  border-radius: 15px;
  margin-top: 5px;
  padding: 5px;
}

.news-header {
  flex: 1;
}

.main-text {
  flex: 5;
}

.keywords {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.addform-container {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.26);
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.inputs-style {
  width: 400px;
  border: none;
  background-color: rgb(190, 190, 190);
}

.inputs-style-login {
  width: 360px;
  border: none;
  background-color: rgb(190, 190, 190);
}

.textarea-style {
  width: 400px;
  height: 150px;
  border: none;
  background-color: rgb(190, 190, 190);
}

.visible {
  display: flex;
  z-index: 5;
}

.add-form {
  width: 700px;
  height: 500px;
  background-color: #fff;
  padding: 30px;
}

.add-form-register {
  width: 400px;
  height: 500px;
  background-color: #fff;
  padding: 20px;
}

.add-form-login {
  width: 400px;
  height: 300px;
  background-color: #fff;
  padding: 20px;
}

.status-message {
  padding: 15px;
  font-size: 20px;
  font-weight: 800;
}

.logged-user {
  font-size: 18px;
  font-weight: 700;
}

.author {
  font-size: 18px;
  font-weight: 500;
}

.buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.news-item-buttons {
  border: none;
  margin-left: 15px;
  background-color: rgb(185, 185, 185);
}

.search-pannel {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.search-button {
  margin-left: 15px;
}

button, 
button:active, 
button:focus {
    outline: none;
}

button {
  margin-left: 15px;
}

.news-item-buttons img {
  width: 20px;
  height: 20px;
}

.keyword-button {
  border: none;
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100vw;
  }
}

@media screen and (max-width: 700px) {
  .add-form {
    width: 100vw;
    height: 80vh;
  }
}

@media screen and (max-width: 450px) {
  .inputs-style {
    width: 90vw;
  }
  
  .textarea-style {
    width: 90vw;
  }
}
